alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
appdirs==1.4.4
blinker==1.9.0
cachetools==6.2.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
databricks-sdk==0.74.0
deprecation==2.1.0
distro==1.9.0
docker==7.1.0
dynaconf==3.2.12
evidently==0.7.17
Faker==38.2.0
fastapi==0.124.4
filelock==3.20.0
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.61.1
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.43.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huey==2.5.5
idna==3.11
implicit==0.7.2
importlib_metadata==8.7.0
iniconfig==2.3.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
litestar==2.18.0
litestar-htmx==0.5.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
msgspec==0.20.0
multidict==6.7.0
multipart==1.3.0
mypy_extensions==1.1.0
nltk==3.9.2
numpy==2.3.5
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==25.0
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
plotly==5.24.1
pluggy==1.6.0
polyfactory==3.1.0
protobuf==6.33.2
psycopg2-binary==2.9.11
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rich-click==1.9.4
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.16.3
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.45
sqlparse==0.5.4
starlette==0.50.0
statsmodels==0.14.6
tenacity==9.1.2
threadpoolctl==3.6.0
tqdm==4.67.1
typer==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.6.2
uuid6==2025.0.1
uvicorn==0.38.0
uvloop==0.22.1
watchdog==6.0.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==3.1.4
zipp==3.23.0
